body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

.contenedor {
    height: 100vh;
    width: 900px;
    margin: 0 auto;
    display: grid;
    /*Primero filas y luego columnas*/
    /* 3 filas de 100 auto y 100 y luego 4 columnas de 25% */
    grid: 100px auto 100px / repeat(4, 25%);
    grid-template-areas:
        /*Fila 1*/
        "header header header header"
        /* Fila 2 */
        "principal principal principal sidebar"
        /*Fila 3*/
        "footer footer footer footer";
        grid-gap: 1rem;
}

.header {
    background-color: coral;
    color: white;
    text-align: center;
    grid-area: header;
}


.contenido-principal {
    background-color: darkred;
    grid-area: principal;
}

.sidebar {
    background-color: olive;
    grid-area: sidebar;
}

.footer {
    background-color: navy;
    grid-area: footer;
}



.contenedor-media {
    margin: 0 auto;
    max-width: 800px;
}


.titulo {}

.slogan {}

.imagen {}

.info {}

.entrada {}